* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::before {
  box-sizing: border-box;
}

*::after {
  box-sizing: border-box;
}

body {
  font-size: 14px;
  line-height: 1.5;
  color: #333333;
  font-family: Helvetica, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

ol,
li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}